{% extends 'base.html' %}
{% block title %}Character Sheet{% endblock %}

{% block content %}
<h1>Viewing Characters</h1>

<form method="POST">
    {{ form.hidden_tag() }}

    {% for field in form
     if field.widget.input_type != 'hidden' %}
        <p>
            {{ field.label }}
            {{ field(class_="form-control") }} 
         {% for error in field.errors%}
         <button class="btn btn-primary" type="submit">Post</button>
         {% endfor %}
        </p>
    {% endfor %}

    <ul>
        {% for character in characters %}
        <div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-info"> {{character.user.username}} </h5>
                    <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                    <p class="card-text">
                        {{character.name}}
                    </p>
                        <b>{{ character.user.username }}</b> made - {{ character.name }}
                        {% if session['user_id'] == character.user_id %}
                        <form action="/tweets/delete" style="display:inline">
                            <button class="btn btn-sm"></button>
                        </form>
                        {% endif %}
                </div>
            </div>
        </div>
        
        {% endfor %}

    </ul>
</form>

{% endblock %}