{% extends 'base.html' %}
{% block title %}Character Sheet{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center">Viewing Characters</h1>

        <ul>
            {% for character in new_char %}
            <div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-info"> {{character.user.username}} </h5>
                        <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                        <p class="card-text">
                            {{character.name}}
                        </p>
                            <b>{{ character.user.username }}</b> created {{ character.name }}
                            {% if session['user_id'] == character.user_id %}
                            <form action="/characters/delete" style="display:inline">
                                <button class="btn btn-sm"></button>
                            </form>
                            {% endif %}
                    </div>
                </div>
            </div>

            {% endfor %}
            <form action="/new">
                <button class="btn btn-success">Create Character</button>
            </form>
        </ul>
    </form>
</div>

{% endblock %}