{% extends 'base.html' %}
{% block title %}Character Sheet{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center">Viewing Characters</h1>

        <ul>
            {% for c in new_chars %}
            <div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-info"> {{c.user.username}} </h5>
                        <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                        <p class="card-text">
                            {{c.name}}
                        </p>
                            <b>{{ c.user.username }}</b> created {{ c.name }}
                            {% if session['user_id'] == c.user_id %}
                            <form action="/characters/delete" style="display:inline">
                                <button class="btn btn-sm"></button>
                            </form>
                            {% endif %}
                    </div>
                </div>
            </div>

            {% endfor %}
            <form action="/characters/new">
                <button class="btn btn-success">Create Character</button>
            </form>
        </ul>
    </form>
</div>

{% endblock %}