{% extends 'base.html' %}
{% block title %}Campaigns{% endblock %}

{% block content %}
    <h1>hi</h1>
    <li>{{character.name}}</li>
    
    <form method="POST">
        {{ form.hidden_tag() }} <!--add type=hidden form fields -->
      
        {% for field in form
               if field.widget.input_type != 'hidden' %}
      
          <p>
            <strong>{{ field.label }}</strong>
            {{ field }}
      
            {% for error in field.errors %}
              {{ error }}
            {% endfor %}
          </p>
        
        {% endfor %}
        <button class="btn btn-success" type="submit">Save Changes</button>
      </form>

      <form action="/characters">
          <button class="btn btn-warning">Go back</button>
      </form>

{% endblock %}