{% extends 'base.html' %}
{% block title %}App{% endblock %}

{% block content %}
<div class="container align-baseline">
    <h1 id="welcome" class="text-center rounded border border-dark">Welcome to Delvr</h1>
        <div class="text-center">
            <form action="/login">
                <button class="btn btn-primary">Login</button>
            </form>
            <form action="/register">
                <button class="btn btn-success">Register</button>
            </form>
        </div>
</div>
{% endblock %}