/* Custom font(s) */

@font-face {
    font-family: medieval;
    src: url('/static/fonts/MedievalSharp-Regular.ttf');
}

/* General HTML elements */

body {
    background-color: #698F3F;
    /* background-image: url("http://cdn28.us1.fansshare.com/photograph/fantasy/fantasy-treehouse-wallpaper-wallpaper-2117228404.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: difference; */
    font-family: medieval;
}

h1 {
    text-align: center;
    font-size: 100px;
    text-decoration: underline;
}

h2 {
    color: black;
}



/* Buttons */

.home-login-btn {
    font-size: 30px;
    background-color: #F1DB4B;
    padding: 10px 20px;
    border-radius: 5px;
    display: block;
    width: 130px;
    margin: 100px 50px 0px auto;
}

.home-register-btn {
    font-size: 30px;
    display: inline-block;
    background-color: #A23E48;
    padding: 10px 20px;
    border-radius: 5px;
    display: block;
    width: 150px;
    margin: 100px 0px -50px 0px;
}

.login-btn  {
    font-size: 30px;
    background-color: #F1DB4B;
    /* background-color: AB92BF; */
    padding: 10px 20px;
    border-radius: 5px;
    display: block;
    width: 130px;
    margin: 10px auto 0px auto;
}

.register-btn  {
    font-size: 30px;
    display: inline-block;
    background-color: #A23E48;
    padding: 10px 20px;
    border-radius: 5px;
    display: block;
    width: 150px;
    margin: 10px auto 0px auto;
}

.create-btn {
    font-size: 20px;
    background-color: #F1DB4B;
    /* background-color: AB92BF; */
    padding: 10px 20px;
    border-radius: 5px;
    display: block;
    width: 150px;
    margin: 10px auto 0px auto;
    position: relative;
    float: right;
}

.campaign-create-btn {
    text-align: center;
    font-size: 25px;
    display: inline-block;
    background-color: #F1DB4B;
    padding: 5px 10px;
    border-radius: 5px;
    display: block;
    width: 210px;
    margin: 0px 30px 0px auto;
    white-space: nowrap;
}


.characters-view-btn {
    text-align: center;
    font-size: 25px;
    background-color: #A23E48;
    display: inline-block;
    border-radius: 5px;
    display: block;
    width: 190px;
    margin: 10px auto 0px auto;
    white-space: nowrap;
}

.back-btn {
    font-size: 30px;
    text-align: center;
    background-color: #A23E48;
    padding: 10px 10px 15px 10px;
    border-radius: 5px;
    display: block;
    width: 150px;
    margin: -5px auto 0px auto;
    position: relative;
    float: left;
    overflow: hidden;
    white-space: nowrap;
}

.campaign-back-btn {
    font-size: 30px;
    text-align: center;
    background-color: #A23E48;
    padding: 10px 10px 15px 10px;
    border-radius: 5px;
    display: block;
    margin: -5px 100px 0px 405px;
    position: relative;
    float: left;
    overflow: hidden;
    white-space: nowrap;
}

.details-btn {
    color: white;
    font-size: 25px;
    display: inline-block;
    background-color: #785589;
    /* background-color: #8E7DBE; */
    /* background-color: #453F78; */
    padding: 10px 20px;
    border-radius: 5px;
    display: block;
    width: 150px;
    margin: 10px auto 0px auto;
}


/* Miscellaneous */

#tag-line {
    font-style: italic;
}

.edit-title {
    align-items: center;
    font-size: 65px;
    text-decoration: underline;
}

.navbar {
    border-bottom: solid;
    border-color: black;
    border-width: thin;
}

/* Form styling */

.form-label {
    font-size: 30px;
    font-weight: bolder;
}

.form-field {
    width: 75%;
    height: 70%;
    font-size: 35px;
    margin-bottom: 1.5px;
    text-align: center;
    min-height: 50px;
    max-width: 600px;
    align-content: center;
    position: relative;
    float: right;
}

.campaign-background {
    background-image: "character-home.png"
}

.campaign-desc {
    text-align: center;
    size: 100px;
}

.campaign-form-label {
    font-size: 30px;
}

.campaign-form-field {
    width: 75%;
    font-size: 35px;
    margin-bottom: 1.5px;
    text-align: center;
    min-height: 30px;
    max-width: 600px;
    align-content: center;
    position: relative;
    float: inline-end;
}

.campaigns-view-btn {
    background-color: #A23E48;
    font-size: 25px;
    margin: 0 0 12px auto;
    padding: auto;
}

.character-btn-color {
    background-color: #785589;
    color: white;
}

/* Character and Campaign cards */

.character-card {
    background-color: #F5F1E3;
    /* background-color: #E7DECD; */
    border-width: 2.5px;
    border-style: solid;
    border-color: #d3ba1a;
}

.campaign-card {
    background-color: #F5F1E3;
    border-width: 2.5px;
    border-style: solid;
    border-color: #d3ba1a;
}

.campaign-title {
    font-size: 40px;
}

.campaign-details {
    font-size: 20px;
}

.message-404 {
    text-align: center;
}
